table#contracts.table.table-condensed.table-hover.dataTable
  thead
    tr
      th Contract
      th Issuer
      th Status

      th Origin
      th Destination
      th Volume
      th Reward

      th Issued

  tbody
    each contract in contracts
      tr(class= contract.status.toLowerCase())
        td
          button.btn.btn-xs.btn-primary(type="button", onclick="CCPEVE.showContract(#{contract.startStation.solarSystemID}, #{contract.contractID})")= contract.contractID
        td
          if contract.forCorp
            = contract.issuerCorpName
            span.badge.pull-right Corp
          else
            = contract.issuerName
        td= contract.status.replace("InProgress", "In Progress")
        td
          if contract.startStation
            = contract.startStation.stationName.split(' ',1)
          else
            = contract.startStationID
        td
          if contract.endStation
            = contract.endStation.stationName.split(' ',1)
          else
            = contract.endStationID
        td
          = accounting.toFixed(contract.volume, 2)
          |  m
          sup 3
        td= accounting.formatNumber(contract.reward)
        td= moment(String(contract.dateIssued)).format("YYYY-MM-DD HH:mm:ss")
