table#contracts.table.table-condensed.table-hover.dataTable
  thead
    tr
      th ID
      th Issuer
      th Status

      th Pickup
      th Destination
      th Volume
      th Reward

      th Issued

  tbody
    each contract in contracts
      tr(class= contract.status.toLowerCase())
        td= contract.contractID
        td= contract.issuerName
        td= contract.status.replace("InProgress", "In Progress")
        td= contract.startStation()
        td= contract.endStation()
        td
          = accounting.toFixed(contract.volume, 2)
          |  m
          sup 3
        td= accounting.formatNumber(contract.reward)
        td= moment(String(contract.dateIssued)).format("YYYY-MM-DD HH:mm:ss")
      tr(style='display: none;')
        td(colspan=8)
          code
            pre= contract
