.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Rood Licht Handel BV
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=title.match(/^Pricing$/g)?'active':undefined)
          a(href='/') Pricing
        li.dropdown(class=title.match(/^Contracts/g)?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown') Contracts
            b.caret
          ul.dropdown-menu
            li(class=title.match(/^Contracts$/g)?'active':undefined)
              a(href='/contracts/current') Current
            li(class=title.match(/^Contracts - Completed$/g)?'active':undefined)
              a(href='/contracts/completed') Completed
        li.dropdown(class=title.match(/^Statistics/g)?'active':undefined)
          a.dropdown-toggle(href='/statistics', data-toggle='dropdown') Statistics
            b.caret
          ul.dropdown-menu
            li(class=title.match(/^Statistics - Historical$/g)?'active':undefined)
              p.navbar-text Historical
            li(class=title.match(/^Statistics - By Volume$/g)?'active':undefined)
              a(href='/statistics/volume') By Volume
            li(class=title.match(/^Statistics - By Rewards$/g)?'active':undefined)
              a(href='/statistics/rewards') By Rewards
            li 
              p.navbar-text Contract
            li(class=title.match(/^Statistics - Contracts Completed$/g)?'active':undefined)
              a(href='/statistics/completed') Completed 
            li(class=title.match(/^Statistics - Contracts Failed$/g)?'active':undefined)
              a(href='/statistics/failed') Failed 
            li(class=title.match(/^Statistics - Contracts Rejected$/g)?'active':undefined)
              a(href='/statistics/rejected') Rejected 
